.igrowl-dismiss {
    background: none;
    border: none;
}
.igrowl {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.igrowl-notice {
    background: rgba(255, 227, 91, 0.95);
}
.igrowl-success {
    background: rgba(195, 255, 102, 0.95);
    border-color: #7ccc00;
}
.igrowl-error {
    background: rgba(255, 162, 162, 0.95);
}